/*
los estilos cumplen con esta convención
1-posicionamineto
2-modelo de caja 
3-tipografia
4-temas visuales
5-otros
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM sans',sans-serif;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
}
header img{
    width: 120px;
    height: 50px;
    margin-top: 60px;
    align-self: center;
}
.heade--title-container{
    width: 90%;
    min-width:288px;
    max-width: 900px;
    height: 218px;
    margin-top: 50px;
    text-align: center;
    align-self: center;
}